@page {
    size: A4 landscape;
    margin: -9px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*Debuger*/
/*
div {
    border: 0.2px solid black;
} */

hr {
    border: 0;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #ffffff;
}

/*TAMANHO DA FOLHA A4: width=1121px height=793px*/
div.main {
    position: relative;
    top: 25px;
    left: 25px;
    width:1071px; 
    height:743px;
}

div.watermark {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../images/watermark.png") no-repeat center;
    background-size: 35%;
    opacity: 0.10;
}

div.top-center-container {
    margin: 0 auto;
    width: 60%;
    height: 21.214%;
}

div.top-center {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translate(0%, -50%);
}

div.top-center h4 {
    font-weight: normal;
    line-height: 0.1;
}

div.top-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: 21.214%;
}

div.top-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: 21.214%;
}

div.top-left img, div.top-right img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

div.title-container {
    left: 0;
    right: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 8%;
}

div.title {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100%;
    text-align: center;
}

div.text-container {
    left: 0;
    right: 0;
    margin-bottom: 1%;
    height: 23%;
}

div.text {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
    text-align: justify;
/*    text-justify: inter-word;
    letter-spacing: 1px;
    line-height: 1.5;*/
}

div.local-date-container {
    left: 0;
    right: 0;
    margin-bottom: 1%;
    height: 1em;
}

div.local-date {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
    text-align: right;
}

div.signatures-container {
    left: 0;
    right: 0;
    margin-bottom: 2%;
    height: 17.4%;
}

div.signatures { 
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 100%;
}

div.signature {
    width: 25%;
    height: 100%;
    text-align: right;
}

div.signature-image {
    height: 50%;
}

div.signature-infos {
    height: 50%;
}

div.signature-image img {
    position: relative;
    top: 100%;
    transform: translate(0%, -100%);
    max-height: 100%;
    max-width: 85%;
}

div.ementa {
    display: flex;

    margin-top: 2%;
    width: 100%;
    height: 50%;
}

div.ementa-left {
    width: 50%;
}

div.ementa-right {
    width: 50%;
}

div.bottom-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 18%;
}

div.bottom {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
}

div.bottom img {
    height: 100%;
    margin-left: 1%;
    margin-right: 1%;
}