@page {
    size: A4 landscape;
}

.container {
    display: inline-block;
    position: relative;
}

.container::after {
    position: relative;
    content: "";
    background: url("../images/watermark.png") no-repeat center;
    background-size: 35%;
    opacity: 0.10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;   
}

table, th, td {
    border-collapse: collapse;
    border-color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#pagetable {
    width: 297mm;
    height: 210mm;
}

.assinaturas {
    font-size: 0.9rem;
    text-align: center;
    line-height: 1.2;
    width: 100%;
    height: 100%;
}
.assinaturas td {
    width: 33.3333%;
}

.assinaturas .assContent {
    display: flex;
    align-items: end;
    width: 100%;
    height: 100%;
}

.justified {
    text-align: justify;
    text-justify: inter-word;
    letter-spacing: 1px;
    line-height: 1.5;
}

.right {
    text-align: right;
    letter-spacing: 1px;
    line-height: 1.5;
}

.left {
    display: table-cell;
    text-align: left;
    vertical-align: top;
    letter-spacing: 1px;
    line-height: 1.5;
}

#tab {
    margin-left: 4rem;
}

img {
    width: 80px;
    vertical-align: middle;
    box-align: middle;
}

h4 {
    font-weight: normal;
    line-height: 0.1;
}

.bottomLogos td {
    width: 20%;
    max-width: 20%;
}

.bottomLogos img {
    height: 100px;
    width: auto;
}
